<?xml version="1.0"?>
<!--
 /************************************************************
 * *
 *  * Copyright © Boolfly. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    info@boolfly.com
 * *  @project   Sales Sequence
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="profile_listing_data_source" xsi:type="string">Boolfly\SalesSequence\Model\ResourceModel\Profile\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Boolfly\SalesSequence\Model\ResourceModel\Profile\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_sequence_profile</argument>
            <argument name="resourceModel" xsi:type="string">Magento\SalesSequence\Model\ResourceModel\Profile</argument>
        </arguments>
    </virtualType>
</config>